@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import "~react-virtualized/styles.css";
@import "./stepper/main.css";

/* VARS */

$bazar-color: #994754;
$bazar-light-color: #a65662;
$bazar-blue-color: #32424d;

$card-icon-rotation: -44deg;

$notie-color-success: #68a156;
$notie-color-warning: #c78b4f;
$notie-color-error: #cf6759;
$notie-color-info: #6073b6;
@import "~notie/src/notie.scss";

/* GENERAL STYLES */

.notie-container {
   box-shadow: none;
}

* {
   font-family: Roboto;
}

body {
   overflow-x: hidden;
   overflow-wrap: break-word;

   &::-webkit-scrollbar {
      width: 10px;
      z-index: 100;
   }

   &::-webkit-scrollbar-track-piece {
      background-color: #ffffff00;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #999999a9;
      border-radius: 10px;
      &:hover {
         background-color: #999999d9;
      }
   }
}

.list-group-props {
   min-height: 200px;
   height: 200px;
   margin-bottom: 10px;
   overflow-y: overlay;
   overflow-x: hidden;
   -webkit-overflow-scrolling: touch;

   &::-webkit-scrollbar {
      width: 10px;
      z-index: 100;
   }

   &::-webkit-scrollbar-track-piece {
      background-color: #ffffff00;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #999999a9;
      border-radius: 10px;
      &:hover {
         background-color: #999999d9;
      }
   }
}

.btn:focus {
   box-shadow: 0 0 0 0.2rem #a6566242;
}

.btn-bazar {
   color: #ebebeb;
   background-color: $bazar-light-color;
   border-color: $bazar-color;
}

.btn-bazar:hover {
   background-color: white;
   color: $bazar-light-color;
}

/* LOADING */
.overlay-loading {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: white;
   z-index: 2;
   transition: all 0.3s linear;
   visibility: hidden;
   opacity: 0;
}

.loading-show {
   visibility: visible;
   opacity: 1;
   background-color: #dddddd;
}

/* COLORS */
.bg-bz-blue {
   background-color: $bazar-blue-color !important;
}

.bg-bz-red {
   background-color: #a65662 !important;
}

.bg-striped {
   background: repeating-linear-gradient(45deg, white, white 20px, #a65662 20px, #a65662 40px);
}

.badge-bazar {
   background-color: $bazar-color;
   color: white;
   font-size: 0.9rem;
}

/* STRUCTURE */
#app-wrapper {
   display: flex;
   align-items: stretch;
}

/* APP SIDEBAR */
#app-sidebar {
   width: 250px;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   z-index: 999;
   background: $bazar-blue-color;
   color: #fff;
   transition: all 0.3s;
   &.active {
      margin-left: -250px;
      transition: all 0.3s;
   }
}

.dropdown-toggle::after {
   display: block;
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
}

a[data-toggle="collapse"] {
   position: relative;
}

a,
a:hover,
a:focus {
   color: inherit;
   text-decoration: none;
   transition: all 0.3s;
}

#app-sidebar #app-sidebar-header {
   padding: 20px;
   background-color: $bazar-light-color;
}

#app-sidebar ul#app-sidebar-items {
   padding: 20px 0;
}

#app-sidebar ul p {
   color: #fff;
   padding: 10px;
}

#app-sidebar ul li a {
   padding: 10px;
   font-size: 1.1em;
   display: block;
}
#app-sidebar ul li a:hover {
   color: $bazar-light-color;
   background: #fff;
}

#sidebarToggler {
   &.active .fa-arrow-left {
      transition: all 0.3s;
      transform: rotate(180deg);
   }
   &.fa-arrow-left {
      transition: all 0.3s;
      transform: rotate(0deg);
      display: block;
   }
}

#app-sidebar ul li.active > a,
a[aria-expanded="true"] {
   color: #fff;
   background: $bazar-light-color;
}
ul ul a {
   font-size: 0.9em !important;
   padding-left: 30px !important;
   background: $bazar-light-color;
}

/* APP CONTENT */

.app-content {
   width: calc(100% - 250px);
   position: absolute;
   top: 0px;
   right: 0px;
   transition: all 0.3s;
   &.active {
      width: 100%;
      position: absolute;
      top: 0px;
      right: 0px;
      transition: all 0.3s;
   }
}

/* APP CONTENT SECTION */
.app-content-section {
   margin-top: 100px;
}

/* APP TOGGLER */

.app-toggler {
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
   position: fixed;
   border-radius: 10px;
   top: 0;
   width: 0px;
   border: none;
   margin: none;
   padding: 0px;
   transition: all 0.3s;
   z-index: 100;
   &.active {
      width: 100%;
      transition: all 0.3s;
      /* default bootstrap styles */
      justify-content: space-between;
      padding: 0.5rem 1rem;
   }
   & .app-toggle-title {
      display: none;
   }
   &.active .app-toggle-title {
      display: block;
   }
}

/* LOGIN */

.card-login {
   border: 0;
   box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
   align-items: center;
   & h3 {
      margin-bottom: 2rem;
      font-weight: 300;
      font-size: 2.5rem;
   }
}

.login-body {
   height: 100vh !important;
   background-color: $bazar-color;
}

.btn-login {
   font-weight: 400;
   font-size: 1.3rem;
}

/* FORMS */

input[type="button"], 
 /* input[type="checkbox"],  */
 input[type="color"], 
 input[type="date"], 
 input[type="datetime-local"],
 input[type="email"], 
 input[type="file"], 
 input[type="hidden"],  
 input[type="month"], 
 input[type="number"], 
 input[type="password"], 
 input[type="radio"], 
 /* input[type="range"],  */
 input[type="reset"], 
 input[type="search"], 
 input[type="submit"], 
 input[type="tel"], 
 input[type="text"], 
 input[type="time"], 
 input[type="url"], 
 input[type="week"],
 
 select,
 textarea {
   border-color: #a6566242 !important;
   border-radius: 2px;
   outline: 0;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid;
   transition: all 0.3s;
   &:focus {
      transition: all 0.3s;
      box-shadow: 0 4px 2px -1px #a6566242 !important;
   }
}

/* File */
input[type="image"],
input[type="file"] {
   height: 0;
   overflow: hidden;
   width: 0;
   & + label {
      background: #f15d22;
      border: none;
      border-radius: 5px;
      color: #fff;
      cursor: pointer;
      display: inline-block;
      font-size: inherit;
      font-weight: 600;
      margin-bottom: 1rem;
      outline: none;
      padding: 0.7rem 40px;
      position: relative;
      -webkit-transition: none;
      transition: none;
      vertical-align: middle;

      background-color: #bd4545;
      box-shadow: 0 6px $bazar-light-color;
      &:hover {
         background-color: #bd4545;
         box-shadow: 0 4px $bazar-light-color;
         top: 2px;
      }
   }
}

/* range */
input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-ms-thumb {
   background: #a65662 !important;
   &:focus {
      box-shadow: 0 0 0 0.15rem #a6566242 !important;
   }
   &:active {
      box-shadow: 0 0 0 0.15rem #a6566242 !important;
   }
}
/* product */

.product-name {
   font-weight: 400;
   font-size: 3.5rem;
}

/* card with icon */

.card {
   overflow: hidden;
   border: 0 !important;
   border-radius: 0 !important;
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.card .card-title {
   font-weight: 400;
}

.card-body .rotate {
   float: right;
   height: 100%;
}

.card-body .rotate i {
   z-index: 1;
}

.card-body .rotate i {
   color: rgba(20, 20, 20, 0.15);
   position: absolute;
   left: 0;
   left: auto;
   right: -10px;
   bottom: 0;
   display: block;
   -webkit-transform: rotate($card-icon-rotation);
   -moz-transform: rotate($card-icon-rotation);
   -o-transform: rotate($card-icon-rotation);
   -ms-transform: rotate($card-icon-rotation);
   transform: rotate($card-icon-rotation);
}

/* react-virtualize table styling*/

.bazar-table {
   font-family: Roboto;
}

.ReactVirtualized__Table__headerRow {
   border-bottom: 2px solid #dee2e6;
   color: #fff;
   background-color: $bazar-blue-color;
   border-color: #454d55;
}

.ReactVirtualized__Table__row {
   padding: 0.75rem;
   vertical-align: top;
   border-top: 1px solid #dee2e6;
}

.ReactVirtualized__Table__Grid {
   &::-webkit-scrollbar {
      width: 10px;
      z-index: 100;
   }

   &::-webkit-scrollbar-track-piece {
      background-color: #ffffff00;
   }

   &::-webkit-scrollbar-thumb {
      background-color: #999999a9;
      border-radius: 10px;
      &:hover {
         background-color: #999999d9;
      }
      min-height: 50px;
   }
}
